In [41]:
import pandas as pd

# Casos e óbitos no estdo por Cidades

In [43]:
df_casos = pd.read_csv('C:/Users/Gabriel/Desktop/Projeto_M3/caso.csv', sep=',')
df_casos['death_rate'] = df_casos['death_rate']*100
df_casos['date'] = pd.to_datetime(df_casos['date'],format='%Y-%m-%d')
df_casos.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2021-06-20,AC,NaN,state,84849,1730,461,True,881935.0,894470.0,12.0,9485.95258,2.04
1,2021-06-19,AC,NaN,state,84812,1729,460,False,881935.0,894470.0,12.0,9481.81605,2.04
2,2021-06-18,AC,NaN,state,84687,1728,459,False,881935.0,894470.0,12.0,9467.84129,2.04
3,2021-06-17,AC,NaN,state,84487,1725,458,False,881935.0,894470.0,12.0,9445.48168,2.04
4,2021-06-16,AC,NaN,state,84450,1723,457,False,881935.0,894470.0,12.0,9441.34515,2.04

In [44]:
df_casos.to_csv('casos_limpo.csv')

# Casos Cidades ES

In [46]:
df_casos_es_cidades = df_casos.query('state =="ES" & place_type == "city" ')
df_casos_es_cidades = df_casos_es_cidades.query('date =="2021-06-18"')
df_casos_es_cidades.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
163209,2021-06-18,ES,Afonso Cláudio,city,3376,56,424,True,30586.0,30455.0,3200102.0,11085.20768,1.66
163633,2021-06-18,ES,Alegre,city,2300,50,404,True,30084.0,29975.0,3200201.0,7673.06088,2.17
164037,2021-06-18,ES,Alfredo Chaves,city,2351,35,413,True,14601.0,14636.0,3200300.0,16063.13200,1.49
164450,2021-06-18,ES,Alto Rio Novo,city,683,21,425,True,7836.0,7874.0,3200359.0,8674.11735,3.07
164875,2021-06-18,ES,Anchieta,city,4651,84,409,True,29263.0,29779.0,3200409.0,15618.38880,1.81

In [47]:
df_casos_es_cidades.to_csv('casos_cidades_es_acumulado_limpo.csv')

# Casos por estados do Sudeste

In [48]:
df_casos_es = df_casos.query('state =="ES" & place_type == "state" ')
#df_casos_es.to_csv('casos_es.csv')

In [49]:
df_casos_rj = df_casos.query('state =="RJ" & place_type == "state" ')
#df_casos_rj.to_csv('casos_rj.csv')

In [50]:
df_casos_sp = df_casos.query('state =="SP" & place_type == "state" ')
#df_casos_sp.to_csv('casos_sp.csv')

In [51]:
df_casos_mg = df_casos.query('state =="MG" & place_type == "state" ')
#df_casos_mg.to_csv('casos_mg.csv')

## Casos e obitos no Epírito Santo geral com médias moveis

In [52]:
df_casos_full = pd.read_csv('C:/Users/Gabriel/Desktop/Projeto_M3/caso_full.csv', sep=',')
df_casos_full['date'] = pd.to_datetime(df_casos_full['date'],format='%Y-%m-%d')
df_casos_full_es = df_casos_full.query('state == "ES" & place_type == "state"' )
df_casos_full_es['media_movel_casos'] = df_casos_full_es['new_confirmed'].rolling(window=7,center=False).mean()
df_casos_full_es['media_movel_obitos'] = df_casos_full_es['new_deaths'].rolling(window=7,center=False).mean()
df_casos_full_es.head()

<ipython-input-52-e5f03aa08c76>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_casos_full_es['media_movel_casos'] = df_casos_full_es['new_confirmed'].rolling(window=7,center=False).mean()
<ipython-input-52-e5f03aa08c76>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_casos_full_es['media_movel_obitos'] = df_casos_full_es['new_deaths'].rolling(window=7,center=False).mean()

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths,media_movel_casos,media_movel_obitos
338477,NaN,32.0,2020-03-05,202010,4064052.0,4018650.0,False,False,1,0.02461,2020-03-05,0.0,0,1,state,ES,1,0,NaN,NaN
338478,NaN,32.0,2020-03-06,202010,4064052.0,4018650.0,False,False,1,0.02461,2020-03-06,0.0,0,2,state,ES,0,0,NaN,NaN
338479,NaN,32.0,2020-03-07,202010,4064052.0,4018650.0,False,False,1,0.02461,2020-03-07,0.0,0,3,state,ES,0,0,NaN,NaN
338480,NaN,32.0,2020-03-08,202011,4064052.0,4018650.0,False,False,1,0.02461,2020-03-08,0.0,0,4,state,ES,0,0,NaN,NaN
338481,NaN,32.0,2020-03-09,202011,4064052.0,4018650.0,False,False,1,0.02461,2020-03-09,0.0,0,5,state,ES,0,0,NaN,NaN

In [53]:
df_casos_full_es.to_csv('casos_full_es_limpa.csv')

# Vacinas ES

In [54]:
df_vacina = pd.read_csv('C:/Users/Gabriel/Desktop/Projeto_M3/Vacinação ES/MICRODADOS_VACINACAO.csv', engine = 'python', sep =';', 
                        error_bad_lines=False)
df_vacina.drop(['Vacina', 'Fabricante','Sexo','RacaCor','VacinaGrupo','VacinaCategoria', 'EstabelecimentoNome', 'EstabelecimentoUF',
                'EstabelecimentoMunicipio', 'CNES', 'SistemaDeOrigem', 'Lote','PacienteMunicipio', 'PacienteBairro', 'Idade' ], axis=1, inplace=True)

Skipping line 179059: Expected 18 fields in line 179059, saw 19
Skipping line 1165240: Expected 18 fields in line 1165240, saw 19

In [55]:
df_vacina_dose_1 = df_vacina.query('Dose == "1 Dose"')

In [56]:
df_vacina_dose_2 = df_vacina.query('Dose == "2 Dose"')

## Primeira dose

In [57]:
df_vacina_dose_1['Vacinas_aplicadas'] = 1

<ipython-input-57-f2ecb8ddf29d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacina_dose_1['Vacinas_aplicadas'] = 1

In [58]:
df_vacina_dose_1_agrupada = df_vacina_dose_1.groupby(['DataAplicacao', 'PacienteUF'])['Vacinas_aplicadas'].aggregate('sum').unstack()
df_vacina_dose_1_agrupada = df_vacina_dose_1_agrupada.reset_index()
df_vacina_dose_1_agrupada['DataAplicacao'] = pd.to_datetime(df_vacina_dose_1_agrupada['DataAplicacao'],format='%Y-%m-%d')
df_vacina_dose_1_agrupada['Acumulado_ES'] = df_vacina_dose_1_agrupada['ES'].cumsum()
df_vacina_dose_1_agrupada.drop(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 
                               'RO', 'RR', 'RS', 'SC', 'SE', 'SP', 'TO', 'XX'], axis=1, inplace=True)
df_vacina_dose_1_agrupada['estimated_population'] = 4064052.0
df_vacina_dose_1_agrupada['Porcentagem da população'] = (df_vacina_dose_1_agrupada['Acumulado_ES']*100 / df_vacina_dose_1_agrupada['estimated_population'])
df_vacina_dose_1_agrupada.head()

PacienteUF,DataAplicacao,ES,Acumulado_ES,estimated_population,Porcentagem da população
0,2021-01-17,28.0,28.0,4064052.0,0.000689
1,2021-01-18,456.0,484.0,4064052.0,0.011909
2,2021-01-19,3303.0,3787.0,4064052.0,0.093183
3,2021-01-20,5712.0,9499.0,4064052.0,0.233732
4,2021-01-21,4962.0,14461.0,4064052.0,0.355827

In [59]:
df_vacina_dose_1_agrupada.to_csv('vacina_dose_1_agrupada_limpa.csv')

## Segunda Dose

In [60]:
df_vacina_dose_2['Vacinas_aplicadas'] = 1

<ipython-input-60-d7f7037e9f33>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacina_dose_2['Vacinas_aplicadas'] = 1

In [61]:
df_vacina_dose_2_agrupada = df_vacina_dose_2.groupby(['DataAplicacao', 'PacienteUF'])['Vacinas_aplicadas'].aggregate('sum').unstack()
df_vacina_dose_2_agrupada = df_vacina_dose_2_agrupada.reset_index()
df_vacina_dose_2_agrupada['DataAplicacao'] = pd.to_datetime(df_vacina_dose_2_agrupada['DataAplicacao'],format='%Y-%m-%d')
df_vacina_dose_2_agrupada['Acumulado_ES'] = df_vacina_dose_2_agrupada['ES'].cumsum()
df_vacina_dose_2_agrupada.drop(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 
                               'RO', 'RR', 'RS', 'SC', 'SE', 'SP', 'TO', 'XX'], axis=1, inplace=True)
df_vacina_dose_2_agrupada['estimated_population'] = 4064052.0
df_vacina_dose_2_agrupada['Porcentagem da população'] = (df_vacina_dose_2_agrupada['Acumulado_ES']*100 / df_vacina_dose_2_agrupada['estimated_population'])
df_vacina_dose_2_agrupada.head()

PacienteUF,DataAplicacao,ES,Acumulado_ES,estimated_population,Porcentagem da população
0,2021-01-19,2.0,2.0,4064052.0,0.000049
1,2021-01-20,6.0,8.0,4064052.0,0.000197
2,2021-01-21,9.0,17.0,4064052.0,0.000418
3,2021-01-22,12.0,29.0,4064052.0,0.000714
4,2021-01-23,4.0,33.0,4064052.0,0.000812

In [62]:
df_vacina_dose_2_agrupada.to_csv('vacina_dose_2_agrupada_limpa.csv')